li {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 4px 20px;
    justify-content: space-between;
  
    &:hover {
      background-color: #edf6f1;
    }
  }
  
  .right {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    
    .title {
      color: #8b95a1;
      margin: 0 30px 0 30px;
    }
    .date {
      color: #8b95a1;
    }
}
  